<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>Archetype Created Web Application</display-name>

	<filter>
		<filter-name>Logging</filter-name>
		<filter-class>by.grodno.pvt.site.webappsample.filter.LoggingFilter</filter-class>
		<init-param>
			<param-name>active</param-name>
			<param-value>TRUE</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Logging</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.ServletSample</servlet-class>
		<init-param>
			<param-name>env</param-name>
			<param-value>Development</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.HomePageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl1</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl11</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet11</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl2</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl21</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet21</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl3</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl31</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet31</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl4</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jstl41</servlet-name>
		<servlet-class>by.grodno.pvt.site.webappsample.JstlServlet41</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Jstl1</servlet-name>
		<url-pattern>/jstl1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Jstl11</servlet-name>
	<url-pattern>/jstl11</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl2</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl21</servlet-name>
		<url-pattern>/dep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl3</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl31</servlet-name>
		<url-pattern>/dep/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl4</servlet-name>
		<url-pattern>/user/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl4</servlet-name>
		<url-pattern>/user/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl41</servlet-name>
		<url-pattern>/dep/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jstl41</servlet-name>
		<url-pattern>/dep/dep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
</web-app>
