<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />


<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" width="8%">Order #</th>
                <th scope="col" width="18%">Date</th>
                <th scope="col">Status payment</th>
                <th scope="col">Status shipment</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${order}">
                <th scope="row" th:text="${order.id}" />
                <td th:text="${#dates.format(order.dateOrder, 'dd-MM-yyyy')}">Mark</td>
                <div th:if="${order.statePayment == false}">
                    <td>awaiting payment</td>
                </div>
                <div th:if="${order.statePayment == true}">
                    <td>payment</td>
                </div>
                <div th:if="${order.stateShipment == false}">
                    <td>awaiting shipment</td>
                </div>
                <div th:if="${order.stateShipment == true}">
                    <td>shipment</td>
                </div>


                <td>
                    <a th:if="${order.statePayment == false}" th:href="@{'/admin/pay/?order='+${order.id}}"class="card-link">Pay</a>
                    <a th:if="${order.stateShipment == false}" th:href="@{'/admin/ship/?order='+${order.id}}"class="card-link">Ship</a>
                    <a th:href="@{'/user/order/delete/?id='+${order.id}}"class="card-link">Delete</a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>


<br />
<br />
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>