<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
<header th:insert="blocks/header::header"></headerth:insert></header>


<div th:if="${#httpServletRequest.requestURI == '/category/edit'}">
    <form th:action="@{/category/edit}" method="post">
        [[${category.id}]]
        <input type="hidden" name="id" th:value="${category.id}" />
        <input type="text" th:value="${category.name}"  name="name" />
        <button type="submit">Edit</button>
    </form>
</div>


<div th:if="${#httpServletRequest.requestURI == '/category'}">
    <form th:action="@{/category}" method="post">
        <input type="text" name="name" placeholder="Введите категорию" />
        <button type="submit">Add</button>
    </form>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name Category</th>
        <th scope="col">Action</th>
    </tr>
    </thead>

    <tr th:each="category : ${category}">

        <td th:text="${category.id}" />
        <td th:text="${category.name}" />
        <td>
            <a class="btn btn-danger"
            th:href="@{'/category/delete?id='+${category.id}}">Delete</a>
            <a class="btn btn-danger"
               th:href="@{'/category/edit?id='+${category.id}}">Edit</a> </td>

    </tr>
</table>
</div>
</body>
</html>
