<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />

<p class="row">You have selected issues to buy:</p>

<div class="container">
    <div class="row">

        <div class="border col-lg-1">N</div>
        <div class="border col-lg-6">Issue</div>
        <div class="border col-lg-5">Price</div>


    </div>

    <div class="row" th:each="release : ${release}">

        <div class="border col-lg-1" th:text="${release.id}"></div>
        <div class="border col-lg-3">
            <a  th:href="@{'/release?id='+${release.id}}">
                <img th:src="@{'/img/release/'+${release.filename}}" width="80" height="100" alt="">
            </a>
        </div>
        <div class="border col-lg-3" th:text="${release.name}"></div>
        <div class="border col-lg-5" th:text="${release.price}"></div>

    </div>
</div>



<br />
<br />
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>