<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />


</p>




<div class="container border-5" >
<tr th:each="release : ${release}">
<td>
        <a class="border-5" th:href="@{'/release?id='+${release.id}}">
            <img th:src="@{'/img/release/'+${release.filename}}" width="160" height="200" alt="">
        </a>

</td>
</tr>


</div>

<br />
<br />
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>