<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />

<div th:if="${#httpServletRequest.requestURI == '/publisher/edit'}">
    <form th:action="@{/publisher/edit}" method="post">
        [[${publisher.id}]]
        <input type="hidden" name="id" th:value="${publisher.id}" />
        <input type="text" th:value="${publisher.name}"  name="name" />
        <textarea rows="10" cols="45"  name="contact">[[${publisher.contact}]]</textarea>
        <button type="submit">Edit</button>
    </form>
</div>



<div th:if="${#httpServletRequest.requestURI == '/publisher'}">
    <form th:action="@{/publisher}" method="post">
        <input type="text" name="name" placeholder="Введите данные издателя" />
        <textarea rows="5" cols="120"  name="contact"></textarea>
        <button type="submit">Add</button>
    </form>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name Publisher</th>
            <th scope="col">Contact Publisher</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tr th:each="publisher : ${publisher}">

            <td th:text="${publisher.id}" />
            <td th:text="${publisher.name}" />
            <td>[[${publisher.contact}]]</td>
            <td>
                <a class="btn btn-danger"
                   th:href="@{'/publisher/delete?id='+${publisher.id}}">Delete</a>
                <a class="btn btn-danger"
                   th:href="@{'/publisher/edit?id='+${publisher.id}}">Edit</a> </td>

        </tr>
    </table>
</div>
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>
