<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>


<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />


<div th:if="${#httpServletRequest.requestURI == '/release/edit'}">
    <form th:action="@{/release/edit}" method="post">
        [[${release.id}]]
        <input type="hidden" name="id" th:value="${release.id}" />
        <input type="text" th:value="${release.name}"  name="name" /></p>
        <textarea rows="3" cols="40"  name="description">[[${release.description}]]</textarea>
        <input type="text" name="price" placeholder="Price" /></p>
        <button type="submit">Edit</button>
    </form>
</div>



<div th:if="${#httpServletRequest.requestURI == '/release'}">
    <form th:action="@{/release}"  enctype="multipart/form-data" method="post">
        <input type="file" name="file" /></p>
        <input type="text" name="name" placeholder="Release" /></p>
        <textarea rows="3" cols="40"  name="description"></textarea>
        <input type="text" name="price" placeholder="Price" /></p>
        <button type="submit">Add</button>
    </form>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Img</th>
            <th scope="col">Name Release</th>
            <th scope="col">Description Release</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tr th:each="release : ${release}">

            <td th:text="${release.id}" />
            <td><img th:src="@{'/img/release/'+${release.filename}}" width="80"
                     height="100" alt=""></td>
            <td th:text="${release.name}" />
            <td th:text="${release.description}" />
            <td th:text="${release.price}"/>
            <td>
                <a class="btn btn-danger"
                   th:href="@{'/release/delete?id='+${release.id}}">Delete</a>
                <a class="btn btn-danger"
                   th:href="@{'/release/edit?id='+${release.id}}">Edit</a> </td>

        </tr>
    </table>
</div>
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>
