<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>


<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />

<div class="container" style="background-color: darkgrey;">
    <div class="row">
        <div class="col-6 d-flex justify-content-around" >
            <img th:src="@{'/img/release/'+${release.filename}}" width="480"
                 height="640" alt=""></td></div>
        <div class="col-6" style="background-color: white;">
        <h1 th:text="${release.product.name}" />
            <h2 th:text="${release.name}"/><br>
            <h2 th:text="${release.description}" />
            Buy this issue:<br>
            $ <th:block th:text="${release.price}"/>
            <a class="btn btn btn-success"
               th:href="@{'/release/buy?id='+${release.id}}">ADD TO CART</a>



        </div>
    </div>
</div>

<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>
