<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>


<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />

<div class="container" style="background-color: darkgrey;">
    <div class="row">
        Your order, th:text



        </div>
    </div>
</div>

<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>
