<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />

<br />
<br />


<div class="container">
    <div class="col-md-6 offset-md-3">
        <form class="was-validated form-inline">
            <div class="form-group">
                <select class="custom-select mx-sm-3 " name="address" required>
                        <option value="">Open this to select a shipping address</option>
                                <option
                                        th:each="address : ${address}"
                                        th:value="${address.id}" th:text="${address.addressee}+' | '+${address.phoneNumber}+' | '+${address.address}"
                                >
                                </option>
                </select>
                <a class="btn btn-outline-success" th:href="@{/user/addressNew}">Add</a>
                <div class="invalid-feedback ">Delivery addresses</div>
            </div>
        </form>


        <ul class="list-unstyled">
            <li class="media">
                <img class="mr-3" src="http://localhost:8080/img/not-pictured.png" alt="" width="20" height="25">
                <div class="media-body">
                    <h7 class="mt-0 mb-1">Медиа объект на основе списка</h7>
                </div>
            </li>
            <li class="media">
                <img class="mr-3" src="http://localhost:8080/img/not-pictured.png" alt="" width="40" height="50">
                <div class="media-body">
                    <h6 class="mt-0 mb-1">Медиа объект на основе списка</h6>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media">
                <img class="mr-3" src="http://localhost:8080/img/not-pictured.png" alt="" width="40" height="50">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Медиа объект на основе списка</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul>

    </div>
</div>







    <br />
    <br />
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>