<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />



<div class="container">

    <div class="row">
        <div class="card-deck">
            <div th:each="order : ${order}">
                <div class="col-sm-3">
                       <div class="card" style="width: 18rem; height: 11rem;">
                            <div class="card-body">
                                <h5 class="card-title"> <div th:text="'Order #'+${order.id}" /></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><div th:text="' from '+${#dates.format(order.dateOrder, 'dd-MM-yyyy')}"/></h6>



                                <div  th:if="${order.statePayment == false}">
                                    <p class="card-text" ><div th:text="'awaiting payment '+${order.sumOrder}+'$'"/></p>
                                    <a th:href="@{'/user/pay/?order='+${order.id}}"class="card-link">Pay</a>
                                    <a th:href="@{'/user/order/delete/?id='+${order.id}}"class="card-link">Delete</a>
                                </div>
                                <div th:unless="${order.statePayment == false}">
                                    <p class="card-text" >paid, expect delivery</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>


</div>

<br />
<br />
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>