<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />



<div class="container">
    <p class="row">Delivery addresses:</p>
    <div class="row was-validated">
        <div class="form-group">
            <select class="custom-select custom-select-sm">
                    <option value="">Open this to select a shipping address</option>
                        <div th:each="address : ${address}">
                            <option value="${address.id}}" th:text="${address.addressee} />>
                        </div>
            </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
    </div>


    <div class="row">
        <div class="card-deck">
            <div class="row" th:each="address : ${address}">
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> <div th:text="${address.addressee}" /></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><div th:text="${address.phoneNumber}"/></h6>
                            <p class="card-text"><div th:text="${address.address}"/></p>
                            <a th:href="@{'/user/addressEdit/?id='+${address.id}}"class="card-link">Edit</a>
                            <a th:href="@{'/user/address/delete/?id='+${address.id}}"class="card-link">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <br />
    <br />
    <th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>