<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<th:block th:insert="blocks/header.html :: css" />
<body>
<th:block th:insert="blocks/navBar.html :: navBar" />

<br />
<br />
<ul class="container list-unstyled">
    <div class="row justify-content-md-center" th:each="release  : ${release}">
        <li class="media">
            <img class="mr-3" th:src="@{'/img/release/'+${release.filename}}" alt="" width="20" height="25">
            <div class="media-body">
                <h7 class="mt-0 mb-1" th:text="${release.product.name}+' ('+${release.name}+') - '+${release.price}+'$'" />
            </div>
        </li>
    </div>
</ul>


<div class="container">
    <div class="col-md-6 offset-md-3">
        <form class="was-validated form-inline" th:action="@{/user/order/}" method="post">
            <div class="form-group">
                <select class="custom-select mx-sm-3 " name="address" required>
                        <option value="">Open this to select a shipping address</option>
                                <option
                                        th:each="address : ${address}"
                                        th:value="${address.id}" th:text="${address.addressee}+' | '+${address.phoneNumber}+' | '+${address.address}"
                                >
                                </option>
                </select>
<!--                <a class="btn btn-outline-success" th:href="@{/user/addressNew}">Add</a>-->
                <div class="invalid-feedback ">Delivery addresses</div>
            </div>
            <button class="btn btn-outline-success container justify-content-md-center" type="submit" th:text="'Buy: '+${sum}+'$'">BUY</button>
        </form>

    </div>
</div>







    <br />
    <br />
<th:block th:insert="blocks/scripts.html :: js" />
</body>
</html>